
.mongo {
  opacity: 0;
}

.falling-mongo {
  position: absolute;
  z-index: -1;
  width: 30px;
  animation: 5s ease-in-out infinite .5s fadeOutFirst;
}

.falling-mongoSecond {
  position: absolute;
  z-index: -1;
  width: 40px;
  animation: 3s ease-in-out infinite .5s fadeOutSecond;
}

.falling-mongoThird {
  position: absolute;
  /* z-index: -1; */
  width: 50px;
  animation: 8s ease-in-out infinite .5s fadeOutThird;
}

/* Start Animations */

@keyframes fadeOutFirst {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .3;
  }
  50% {
    opaticy: 1;
  }
  80% {
    opaticy: 1;
  }
  100% {
    opacity: 0;
    transform: 
      translateY(400px)
      rotate(60deg);
  }
}
@keyframes fadeOutSecond {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .3;
  }
  50% {
    opaticy: 1;
  }
  80% {
    opaticy: 1;
  }
  100% {
    opacity: 0;
    transform: 
      translateY(400px)
      rotate(-30deg);
  }
}
@keyframes fadeOutThird {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .3;
  }
  50% {
    opaticy: 1;
  }
  80% {
    opaticy: 1;
  }
  100% {
    opacity: 0;
    transform: 
      translateY(800px)
      rotate(-450deg);
  }
}

/* End Animations */