/* adobe font */
@import url("https://use.typekit.net/zrt8hcx.css");

.login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  align-items: center;
}

.login * {
  margin: 60px;
}

.login input {
  font-size: 1.5em;
  border: none;
  outline: none;
  background: none;
  color: #fff
}

.login input:hover {
  cursor: default;
}

button {
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  background: none;
  font-family: marshmallow-fluff, sans-serif;
  color: #fff;
  font-size: 20px;
}

button:hover {
  cursor: crosshair;
}