.home {
  padding: 40px 100px 40px;
  max-width: 700px;
  margin: auto;
}

.posts-container {
  display: flex;
  background: #f1ecddfc;
  border-radius: 1em;
  flex-direction: column;
  margin: 40px auto;
  max-width: 700px;
  padding: 40px 50px 40px;
  overflow: hidden;
}

#loading-star {
  height: 60px;
  width: 60px;
  animation: loadingSpin 2s infinite ease-in-out;
}

.post-details {
  background: #ffffff;
  /* #cfe5e0 */
  padding: 30px;
  margin-bottom: 40px;
}

.post-details:last-child {
  margin-bottom: 0;
}

@keyframes loadingSpin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/* Start Media queries */

@media screen and (max-width: 768px) {
  .posts-container {
    padding: 10px;
  }

  .falling-mongoSecond {
    animation: none;
    display: none;
  }

  .falling-mongoThird {
    animation: none;
    display: none;
  }
}


/* End Media quereies */