/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Passero+One&display=swap');
/* adobe font */
@import url("https://use.typekit.net/zrt8hcx.css");


/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

.app {
  overflow: hidden;
}

body {
  background-image: url('../public/kalobkg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Lustria", serif;
}
header {
  background: #fff;
  /* #e0e0e0 */
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 40px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: marshmallow-fluff, sans-serif;
  font-weight: 200;
  font-style: normal;
}

header a {
  color: #000;
  text-decoration: none;
  width: 100px;
  font-family: 'Passero One', cursive;
  font-size: 1.5em;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

nav div {
  display: flex;
  align-items: center;
}

button {
  border: none;
  outline: none;
  width: 100px;
  height: 60px;
  background: none;
  color: #fff;
  font-family: 'Passero One', cursive;
  font-size: 1.5em;
}

#nav-icon {
  height: 100px;
  position: absolute;
  top: 15px;
}

.form-container {
  max-width: 1000px;
  margin: auto;
}

/* Start Media Queries */

@media screen and (max-width: 768px) {
  #nav-icon {
    height: 60px;
    top: 25px;
  }
  body {
    background-image: url('../public/kalobkg_mobile.png');
  }
}

@media screen and (max-width: 450px) {
  #nav-icon {
    height: 60px;
    top: 80px;
    left: 125px;
  }
}

/* End Media Queries */